  <div class="row">
    <div class="col text-center">
      <h2 class="text-left">*ngIf</h2>
      <button (click) = "mostrar = !mostrar" type="button" name="btn-m-o" id="btn-m-o" class="btn btn-outline-primary btn-block mt-4">mostrar/ocultar</button>

      <div *ngIf="mostrar" class="card text-white bg-primary">
        <img class="card-img-top" src="{{ frase.url }}" alt="">
        <div class="card-body">
          <h4 class="card-title">{{ frase.autor }}</h4>
          <p class="card-text">{{ frase.mensaje }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>*ngFor</h2>
      <ul class="list-group">
        <li *ngFor="let data of personajes; let i = index" class="list-group-item">{{i+1}}. {{data}}</li>
      </ul>
    </div>
  </div>