  <div class="row">
    <div class="col text-center">
      <h2 class="text-left">*ngIf</h2>
      <div class="card text-white bg-primary">
        <img class="card-img-top" src="https://picsum.photos/1000/400" alt="">
        <div class="card-body">
          <h4 class="card-title">Card1</h4>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt sit, cum, officia magnam nam magni eveniet unde excepturi nobis ipsam fuga tempore ducimus architecto assumenda molestiae temporibus nemo molestias illum?</p>
        </div>
      </div>

      <button type="button" name="btn-m-o" id="btn-m-o" class="btn btn-outline-primary btn-block mt-4">mostrar/ocultar</button>
    </div>
    <div class="col">
      <h2>*ngFor</h2>
      <ul class="list-group">
        <li class="list-group-item active">Active item</li>
        <li class="list-group-item">Item</li>
        <li class="list-group-item disabled">Disabled item</li>
      </ul>
    </div>
  </div>